<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN
http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
 <dict>
     <key>Label</key>
     <string>com.lizhao.update</string>
    <key>Program</key>
     <string>/Users/lizhao/Documents/SpechtLiteConf/update.sh</string>
    <key>StartInterval</key>
    <integer>432000</integer>
</dict>
</plist>
