<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.lizhao.eagle</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/share/dotnet/dotnet</string>
		<string>/Users/lizhao/Documents/eagle-tunnel/eagle.tunnel.dotnet.core.dll</string>
		<string>/Users/lizhao/Documents/eagle-tunnel/eagle-tunnel.conf</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/lizhao/Library/sdk/platform-tools:/Users/lizhao/Library/sdk/tools:/Users/lizhao/Library/sdk/build-tools/26.0.2:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/share/dotnet</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.lizhao.eagle.stderr</string>
</dict>
</plist>
